/* Newsletter.module.css */
.newsletter {

  padding: 20px;
  background-color: rgba(13, 13, 13, 0.961);
  color: white;
  height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.envelope-icon{
    width: 100px;

    margin-bottom: 10px;
    text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.description {
  font-size: 16px;
  font-weight: 300;
  padding:0;
  text-align: center;


}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailInput {
  padding: 10px;
  border: 1px solid #ffffff;
  height: 30px;
  width: 40%;
  min-width: 400px;
  background-color: rgba(13, 13, 13, 0.961);
;
  margin-right: 10px;
}

.joinButton {
  padding: 10px 30px;
  height: 51px;
  background-color: black;
  border: 1px solid white;
  color: #fff;
 
  cursor: pointer;
}
