/* Newsletter.module.css */
.newsletter {

  padding: 20px;
  background-color: rgb(13, 13, 13);
  color: white;
  height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.envelope-icon{

    width: 45px;
    margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.description {
  font-size: 16px;
  margin-bottom: 50px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailInput {
  padding: 10px;
  border: 2px solid #ffffff;
  height: 60px;
  width: 40%;
  min-width: 400px;
  background-color: black;
  border-radius: 50px;
  margin-right: 10px;
}

.joinButton {
  padding: 10px 20px;
  background-color: #f30000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
