.videoHero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

  }

  
  .videoHero video {
    position: absolute;
     width: 100%;
    height: 100%; 
    object-fit: cover;
  }
  
  .videoHero .overlay {

    width: 60%;
    height: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255)8);
    
    
  }

.overlay > h1{
    font-size: 10rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    letter-spacing: -10px;
    text-align: left;

  }
  