.main-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.03);
}

.carousel-wrapper {
  height: 100%;
  width: 600px;
  /* border: 1px solid red; */
  /* margin: 100px; */
  padding: 100px;
}



.main-wrapper > h1 {
  font-size: 6.9rem;
  font-weight: 900;
  line-height: 97%;
  width: 40%;
  letter-spacing: -6px;
  margin: 0;
  text-align: left;
  padding: 0;
}
