.mainContainer {
  height: 550px;
  width: 450px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin: 20px;
  padding: 20px;
}

.imgColorsContainer {
  height: 600px;
  width: 500px;
}

.shopMode .imgColorsContainer {
  background-color: rgba(171, 166, 166, 0.157);
  box-shadow: 0 10px 20px rgba(81, 81, 81, 0.112),
    0 6px 6px rgba(83, 83, 83, 0.072);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  max-height: 500px;
  min-height: 350px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 30%;
  min-width: 300px;
}

.productImg {
  width: 80%;
}

.productImg img {
  width: 100%;
}

.productInfo {
  font-family: "Mulish", sans-serif;
  /* font-size: 22px; */
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0px 10px;
}

.productInfo * {
  margin: 0;
}

.newLabel {
  color: red;
  font-size: 16px;
}

.productInfo h4 {
  color: #161616;
  font-size: clamp(1.75rem, 5vw, 2.125rem);
  font-weight: 900;
  line-height: 1.16;
  letter-spacing: -1px;
  padding: 10px 0px;
}

.mainContainer.shopMode {
  display: flex;
  margin: 0;

  box-shadow: none;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  width: 100%;
}

.shopMode .productImg {
  min-width: 250px;
  text-align: center;
  margin-top: 20px;
}

.shopMode .productImg img {
  width: 100%;
}

.shopMode > .productInfo {
  margin-left: 50px;
  width: 45%;
  min-width: 350px;
  max-height: 450px;
  display: grid;
  gap: 20px;
  justify-content: flex-start;
  align-content: center;
}

.shopMode > .productInfo h4 {
  font-size: 2rem;
}

.productPrice {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}

.colorOptionsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding-top: 1cap;
  margin-bottom: 20px;
}

.colorOptionsContainer > div {
  width: 1.4rem;
  position: relative;
  height: 1.4rem;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 12px;

  max-width: 500px;
}

.descriptionContainer li {
  list-style-type: none;
  font-family: "Mulish", sans-serif;
  font-size: 18px;

  list-style-position: outside;
  line-height: 1.567;
}

.button {
  font-family: "Oswald", sans-serif;
  width: 30%;
  border: none;
  color: #ffffff;
  background: #e01e3c;
  font-weight: 600;
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  align-self: flex-end;
}

.popUpWrapper {
  position: relative;
}

.popUpWrapper p {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  color: #161616;

  width: 100%;
  font-size: 13px;
  position: absolute;
  text-align: left;
  left: -20px;
  top: 20px;
}

.loader {
  width: 28px;
  height: 28px;
  border: 2px solid #fff;
  margin-top: 2px;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  .mainContainer.shopMode {
  }
  .productInfo h4 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 780px) {
  .mainContainer.shopMode {
    align-items: center;
    padding: 40px 0px;
    flex-wrap: wrap;
    max-height: none;
    height: fit-content;
  }

  .shopMode > .productInfo {
    width: 70%;
    text-align: center;

    font-size: 18px;
    margin: 20px 10px 0px 10px;
    /* border: 1px solid red; */
    justify-content: left;
  }

  .shopMode .productInfo h4 {
    font-size: 1.5rem;
  padding-bottom: 0;
  }

  .productPrice {
    font-size: 1.2rem;
  }

  .shopMode .imgColorsContainer {

    width: 80%;
    max-width: 400px;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }

  .shopMode .productImg {
    height: auto;
    min-width: none;
    width: 80%;
  }
  .shopMode .productImg img{
    width: 80%;
  }

  .shopMode .colorOptionsContainer {
    width: 90%;
    max-width: 400px;
  
  }
.colorOptionsContainer > div{
  width: 20px;
  height: 20px;
}
  .descriptionContainer {
    text-align: center;
    margin: 10px;
  }

  .descriptionContainer li {
    list-style: none;
    font-size: 16px;
  }

  .shopMode .button {

    margin-top: 10px;
    font-size: 14px;
    height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .mainContainer.shopMode {
    min-width: 300px;
  }
  .shopMode .imgColorsContainer {
    width: 50px;
    padding: 0;
  }

  .shopMode > .productInfo {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .productInfo {
    font-size: 14px;
    margin: 10px 5px 0px 5px;
  }

  .productInfo h4 {
    font-size: 1.2rem;
  }

  .productPrice {
    font-size: 0.8rem;
  }

  .descriptionContainer li {
    font-size: 16px;
  }

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
