.mainContainer{
  height: 650px;
  width: 500px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px;

  box-shadow: 0 10px 20px rgba(81, 81, 81, 0.112),
    0 6px 6px rgba(83, 83, 83, 0.072);
}


.shopMode .mainContainer {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 30px;
  height: 600px;
  font-family: "Mulish", sans-serif;
  display: flex;
  box-shadow: 0 10px 20px rgba(81, 81, 81, 0.112),
    0 6px 6px rgba(83, 83, 83, 0.072);
}

.imgColorsContainer{
  height: 600px;
  width: 500px;
}
.shopMode .imgColorsContainer {

  background-color: rgba(171, 166, 166, 0.157);
  box-shadow: 0 10px 20px rgba(81, 81, 81, 0.112),
    0 6px 6px rgba(83, 83, 83, 0.072);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px; /* Adjust the maximum width as needed */
  min-width: 500px;
  max-width: 500px;
  height: 400px;
  padding: 40px 10px;
  display: flex;
  justify-content: center;


}


/* Style for product image */

.productImg{
height: 400px;
}

.productImg img{
height: 100%;



}


.productInfo {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 10px;
}


.productInfo * {
  margin: 0;
}

.newLabel {
  color: red;
  font-size: 16px;
}

.productInfo h4 {
  color: #161616;
  font-size: clamp(1.75rem, 5vw, 2.125rem);
  font-weight: 900;
  line-height: 1.16;
  letter-spacing: -1px;
  padding: 10px 0px;
}

.mainContainer.shopMode {
  display: flex;
  margin: 0;
  box-shadow: none;
  flex-direction: row;
  justify-content: center;
width: 80Vw;
  height: 600px;
}


.shopMode  .productImg {
  height: 100%;
  width: auto;
}

.shopMode .productImg img{
  width: 100%;
}

.shopMode > .productInfo {
  margin-left: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.productPrice {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;

  padding-bottom: 10px;
}



.colorOptionsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding-top: 1cap;
}

.colorOptionsContainer > div {
  width: 27px;
  height: 27px;
  margin: 5px;
  border-radius: 50%;
  list-style: none;
}

.descriptionContainer {
  padding: 40px 12px;
}

.descriptionContainer li {
  list-style-type: disc;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  list-style-position: outside;
  line-height: 1.667;
}

.button {
  
  border-radius: 5px;
  font-family: "Oswald", sans-serif;

  width: 140px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 19px;
  background: #e01e3c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


