.main-container {
  background-color: white;
  border-radius: 4%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
  width: 600px;
  font-family: "Mulish", sans-serif;

  /* flex: 1; */

  display: flex;
 

  box-shadow: 0 10px 20px rgba(81, 81, 81, 0.112),
    0 6px 6px rgba(83, 83, 83, 0.072);
}

.img-colors-container {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.shop-mode > .img-colors-container {
background-color: rgba(171, 166, 166, 0.157);
border-radius: 4% ;
  width: 90%;
  height: auto;
  padding: 20px;
}

.product-info {
  font-family: "Mulish", sans-serif;
  margin: 10px 20px 30px 10px;
  align-self: flex-start;
  font-size: 22px;
}

.product-info h4 {
  color: #161616;
  font-size: clamp(1.75rem, 5vw, 2.125rem);
  font-weight: 900;
  line-height: 1.16;
  letter-spacing: -1px;

  /* word-break: keep-all; */
}

.main-container.shop-mode {
  display: flex;
  box-shadow: none;
  flex-direction: row;
  align-items:flex-start;
  justify-content: flex-end;
  width: 90%;
  height: auto;
}
.shop-mode > .product-info {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.product-price {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
}

.product-img {
  /* margin: 0px 30px 30px 30px; */
  width: auto;


  /* overflow: hidden; */
}
.shop-mode > .product-img{
  
} 
.product-img img {
  width: 100%; /* Make the image take up the full width of the parent div */
  height: auto;
  margin: 10px; /* Make the image take up the full height of the parent div */
}

.color-options-container{
  display: flex;
  flex-direction: row;
  margin: 10px;

}
.color-options-container > div {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  list-style: none;
}
.description-container {
  margin: 40px 0px 40px 0px;
}

.description-container li {
  list-style-type: disc;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  list-style-position: inside;
  line-height: 1.667;
}

.button {
  margin-top: 10px;
  border-radius: 2px;
  width: 140px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background: #e01e3c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
