.submenuWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  
  z-index: 1;

  transform: translateX(-50%) translateY(10px); /* Adjust the submenu position */
}


.submenuUl {

  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  font-weight: 400;
  position: absolute;
  top: calc(50% + -30px); /* Position the submenu below the SHOP link */
  left: 80%; /* Center the submenu horizontally */
  transform: translateX(-50%); /* Adjust for center alignment */
  list-style: none;
  padding-top: 40px;
}

.submenuLi {
  font-size: 1.2rem;
  color: black;
  transition: color 0.3s ease;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-align: center;
  width: 100px;
  margin: 20px;
}

.submenuLi * {
  color: black;
  
  text-decoration: none;
  text-align: center;
}

.shopMenuMode {
  /* display: flex;
  justify-content: space-evenly;
  padding: 40px 0px 40px 0px;
  flex-direction: row;
  margin-left: -10px; */
}

/* Ensure submenu items are vertically centered within submenuWrapper */
.submenuWrapper .shopMenuMode   {

position:static;

padding: 0;
left: 0;
transform:translateX(-250px);

}
