.submenuWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;

  z-index: 1;

  transform: translateX(-50%) translateY(10px); /* Adjust the submenu position */
}

.submenuUl {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
  position: absolute;
  top: calc(50% + -30px); /* Position the submenu below the SHOP link */
  left: 80%; /* Center the submenu horizontally */
  transform: translateX(-45%); /* Adjust for center alignment */
  list-style: none;
  padding-top: 40px;
}

.submenuLi {
  font-size: 1rem;
  color: black;
  transition: color 0.3s ease; 
  
  text-decoration: none;
  text-align: center;
  width: 100px;
  margin: 20px;
}

.submenuLi * {
  color: black;

  text-decoration: none;
  text-align: center;
}

.shopMenuMode {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  width: 400px;
}
