/* Navbar.module.css */
.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 120px;
  transition: height 0.3s ease;
  background-color: white;
  padding: 0px 20px;
}

.navbarContainer.active {
  height: 160px;
}

.logoWrapper{
  padding:20px 10px;
}
.navLinks {

  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  list-style: none;
  color: black;
  padding: 20px 0px;
  margin-left: -50px;

  text-decoration: none;
}

.navLinkItem {
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;

}

.navLinkItem a{

  padding: 5px;
}

.navLinkItem:hover {
  border-color: red;
}

.cartIcon {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 10px;
  align-items: center;

}
.cartIcon .shoppingIcon {
  font-size: 24px;
}

.cartIcon p {
  font-size: 16px;
  margin: -2px;
  font-weight: 500;
}

.blackRibbon {
  background-color: black;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 

}



.freeDeliveryContainer {
  font-size: 18px;
  font-weight: 500;
  background-color: black;
  height: 60px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.freeDeliveryLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.linkIconContainer {
  padding-top: 1px;
  margin-left: 10px;
  width: 15px;
}

@keyframes dropRibbon {
  from {
    transform: translateY(-100%)  }
  to {
    transform: translateY(0)  }
}