.footer-container {
  background-color: #ffffff;
 display: flex;
 flex-direction: row;
 height: 100px;
 justify-content: center;
  margin-top: 200px; /* Push the footer to the bottom */

  padding: 40px;
}




.footer-container a:hover{
  color: rgb(88, 88, 88);
}

.footer-container p{

  height: fit-content;
  margin: 0;
  padding: 0;
}

.footer-icons{
  padding: 0;
  margin: 0px 20px;
  height: fit-content;

}

.footer-container a{

  color: black;
  padding-right: 5px;
  padding-bottom: 0;

}