/* FooterHero.module.css */
.footer-hero {

  height: 100vh;
  
}



.image {
  width: 100%;
  height: auto;
  object-fit:cover;

 

}




.text {

color: #f9f7f8;




}

.text > h1 {
  font-size: calc(9vw + 12px);
  font-weight: 900;
  line-height: 95%;
  letter-spacing: -8px;
  text-align: left;
  margin: 0;
}

.text > p {
  font-size: 22px;
  font-weight: 500;
  margin: 40px 0px 0px 10px;

}
