.footer-hero {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: start;
  background-image: url("../../public/images/good-faces-yWTUg04EZU8-unsplash.jpg");
}

.text-block {
  display: flex;
  flex-direction: column;
  
  color: #292925;
  align-items:right;
  justify-content :start;
  width: 70%;
  margin: 60px;


}

.footer-hero h4 {
  font-size: calc(8vw + 14px);
  letter-spacing: -6px;
  line-height: 95%;

}

.footer-hero p{
  font-size: 24px;
  font-weight: 500;
  margin: 20px;
  width: 50%;
}
/* .button {
    margin-top: 10px;
  border-radius: 50px;
  width: 250px;
  height: 40px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background: #e01e3c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
} */
