.banner {
  background-color: rgb(221, 215, 205);
  display: flex;
  flex-direction: row;
  height: 80vh;
  padding: 50px;
}
.textBlock {
  display: flex;
  flex-direction: column;
  align-items:;
  justify-content:space-around;
  margin: 200px 100px;
  line-height: 0.9;

;
}

.banner h2 {
  font-size: 32px;
  margin: 10px;

}

.banner h3 {
  font-size: 80px;
  margin: 5px;
  letter-spacing: -6px
}

.banner h4 {
  font-size: 300px;
  margin-left: -15px;
  color: #ffffff;
  font-weight:bolder;  
  letter-spacing: -10px
}

.button {
  margin-top: 10px;
  border-radius: 2px;
  width: 240px;
  height: 40px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background:#e01e3c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.descriptionContainer {
  font-size: 10px;
   position: absolute;
   right: 50px;
   top: 250px;
   
}

.descriptionContainer h5 {
  font-weight: 800;
  font-size: 11px;
}

.banner img {
  position: absolute;
  top: 140px;
  left: 45%;
  width:900px;
    height: auto;
}

.banner :nth-child(3) {
  width: 200px;
}
