body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(113, 113, 113, 0.832);
 
}

.footer-container {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  padding: 10px 20px;
}

.footer-container p {
  font-size: 12px;
}
.footer-icons {
  width: 100px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.706);
}
