.container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top:50px;


}


.banner{
  width: 100%;
  height: auto;
margin-bottom: 50px;
}

.banner img{
  width: 100%;
}

.container > h2 {
  padding: 50px 0px;
  font-size: 42px;
  margin: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
 
}
.navWrapper{

  
  margin: 0px 270px;
  display: flex; /* Make the container a flex container */
  flex-direction: row-reverse; /* Keep items in a row */
  justify-content: space-between; /* Space items between each other */
  align-items:flex-start; 
}
/* .navWrapper:first-child{
  align-self: center;
  background-color: antiquewhite;
} */


.sortBlock {
  display: inline-block; /* Ensures it only takes the necessary width */
  position: relative; /* Needed for absolute positioning of dropdown */

}

/* Style the label */
.sortLabel {
  cursor: pointer; /* Change cursor to pointer on hover */

  margin-top: 50px;
}

/* Style the dropdown container */
.sortDropdown {
  display: none; /* Initially hidden */
  position: absolute;
  top: 100%; /* Position dropdown below the label */
  right: 0;
  background-color: #ffffff3a; /* Background color for the dropdown */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

/* Show the dropdown when the label is hovered */
.sortBlock:hover .sortDropdown {
  display: block;
}



.sortBlock button{
  width: 140px;
  height: 40px;
  border: none;
  font-family: "Mulish",sans-serif;
  font-size: 16px;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: right;

}

.navButton{
  width: 150px;
  border: 1px solid black;
  background-color: transparent;
  height: 50px;
  text-align: center;
  font-family: "Mulish",sans-serif;
}

.loadMoreBtn{

}

.backToTop{
  position: absolute;
  border: 1px solid black;
  background-color: transparent;
  height: 50px;
  text-align: center;
  font-family: "Mulish",sans-serif;
}

.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;


 
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 1000;
}

.backToTop:hover {
  background-color: #515151;
  color: white;
}