.container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top:100px
}
.banner{
  width: 100%;
  height: auto;

}

.banner img{
  width: 100%;
}

.container > h2 {
  padding: 50px 0px;
  font-size: 42px;
  margin: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
 
}

.categoryMenu{
  height: 0px;
  background-color: #bebebe25;
  display: flex;
  justify-content: center;
  align-items: center;

}

