.container{
    border: 1px black solid;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card-container{
   border: 1px solid burlywood;
    margin: 10px;
}
